.Cart {
  .homeRoot {
    font-size: 13px;
    color: #bcbec0;
    margin-right: 6px;
  }

  .shoppingRoot {
    font-size: 13px;
  }

  .shoppingBag {
    padding: 30px 128.5px 0 128.5px;

    .title {
      font-size: 31px;
    }

    .productTitle {
      margin-top: 100px;
      padding-bottom: 15px;
    }

    .orderContainer {
      height: 160px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }
}
