.Cart {
  .cartWrapper {
    padding-top: 100px;
    .homeRoot {
      font-size: 13px;
      color: #bcbec0;
      margin-right: 6px;
    }

    .shoppingRoot {
      font-size: 13px;
    }

    .shoppingBag {
      padding: 30px 128.5px 0 128.5px;

      .title {
        font-size: 31px;
      }

      .productTitle {
        margin-top: 100px;
        padding-bottom: 15px;
      }

      .orderContainer {
        border-top: 1px solid black;
        border-bottom: 1px solid black;

        .emptyCart {
          padding: 60px 0;
          text-align: center;
          color: #828282;
        }
      }

      .orderButtonWrapper {
        display: flex;
        justify-content: center;
        padding-top: 100px;
      }
    }
  }
}
