.ProductTapBreadList {
  .container {
    display: flex;
    align-items: center;
    margin-top: 100px;

    .breadImage {
      width: 500px;
      height: 300px;
      overflow: hidden;
    }

    .wrapper {
      padding-left: 20px;
      line-height: 20px;

      .breadName {
        font-size: 30px;
        font-weight: bold;
        line-height: 40px;
      }
    }
  }
}
