@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR:wght@200;300&display=swap');

.Createid {
  .CreateAccount {
    width: 500px;
    margin-left: 500px;
    height: 900px;
    .Create {
      .Createtittle {
        padding-top: 100px;
        font-size: 31px;
        text-align: center;
        font-weight: 400;
      }
    }
    .inputEmailid {
      flex-direction: column;
      display: flex;
      padding-top: 30px;

      .IDemail {
        font-size: 13px;
        padding-bottom: 15px;
        padding-top: 10px;
        font-family: 'Noto Sans KR';
      }
      .inputid {
        height: 45px;
        width: 500px;
        border: 1.5px solid #e0e0e0;
      }
    }
    .inputPassword {
      flex-direction: column;
      display: flex;
      padding-top: 30px;

      .Password {
        font-size: 13px;
        padding-bottom: 15px;
      }
      .inputpw {
        height: 45px;
        width: 500px;
        border: 1.5px solid #e0e0e0;
      }
      .inputpw2 {
        height: 45px;
        width: 500px;
        margin-top: 10px;
        border: 1.5px solid #e0e0e0;
      }
    }
    .inputName {
      flex-direction: column;
      display: flex;

      .Name {
        font-size: 13px;
        padding-bottom: 20px;
        padding-top: 20px;
      }
      .inputName {
        height: 45px;
        width: 500px;
        border: 1.5px solid #e0e0e0;
      }
    }
    .inputPhonenumber {
      padding-top: 15px;
      .Phonenumber {
        font-size: 13px;
      }
      .Phone {
        height: 45px;
        width: 500px;
        margin-top: 10px;
        border: 1.5px solid #e0e0e0;
      }
    }
    .inputAddress {
      padding-top: 15px;
      flex-direction: column;
      display: flex;
      .Address {
        font-size: 13px;
      }
    }
    .buttonaddress {
      .homeAddress {
        height: 45px;
        width: 500px;
        margin-top: 10px;
        border: 1.5px solid #e0e0e0;
      }
    }

    .submitbutton {
      .btn {
        width: 500px;
        height: 45px;
        margin-top: 20px;
        color: white;
        background-color: black;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
