@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR:wght@200;300&display=swap');

.createAccount {
  .createid {
    display: flex;
    justify-content: center;
    margin-left: 100px;

    .createAccount {
      .create {
        .createtitle {
          margin-top: 150px;
          font-size: 31px;
          text-align: center;
          font-weight: 600;
          font-family: 'Noto Sans KR';
        }
      }

      .inputEmailid {
        display: flex;
        flex-direction: column;
        padding-top: 30px;

        .idEmail {
          padding-bottom: 15px;
          padding-top: 10px;
          font-family: 'Noto Sans KR';
          font-size: 13px;
        }

        .inputId {
          height: 45px;
          width: 500px;
          border: 1.5px solid #e0e0e0;
        }
      }

      .inputPassword {
        display: flex;
        flex-direction: column;
        padding-top: 15px;

        .passWord {
          padding-bottom: 15px;
          font-size: 13px;
          font-family: 'Noto Sans KR';
        }

        .inputPw {
          height: 45px;
          width: 500px;
          border: 1.5px solid #e0e0e0;
        }
      }

      .inputName {
        display: flex;
        flex-direction: column;

        .name {
          margin-bottom: 15px;
          padding-top: 15px;
          font-family: 'Noto Sans KR';
          font-size: 13px;
        }

        .inputName {
          height: 45px;
          width: 500px;
          border: 1.5px solid #e0e0e0;
        }
      }

      .inputPhoneNumber {
        padding-top: 15px;

        .phoneNumber {
          font-size: 13px;
          font-family: 'Noto Sans KR';
        }

        .phone {
          display: flex;
          height: 45px;
          width: 500px;
          margin-top: 10px;
          border: 1.5px solid #e0e0e0;
        }
      }

      .inputAddress {
        display: flex;
        flex-direction: column;
        padding-top: 15px;

        .address {
          font-size: 13px;
          font-family: 'Noto Sans KR';
        }
      }

      .buttonAddress {
        .homeAddress {
          height: 45px;
          width: 500px;
          margin-top: 10px;
          border: 1.5px solid #e0e0e0;
        }
      }

      .submitButton {
        .btn {
          width: 500px;
          height: 45px;
          margin-top: 20px;
          color: white;
          background-color: black;
          border: 1px solid black;
          font-weight: bold;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
}
