.whiteButton {
  width: 163px;
  height: 45px;
  margin: 0 5px;
  border: 1px solid black;
  outline: none;
  background-color: white;

  &:hover {
    cursor: pointer;
  }
}

.blackButton {
  width: 163px;
  height: 45px;
  margin: 0 5px;
  border: 0;
  outline: none;
  background-color: black;
  color: white;

  &:hover {
    cursor: pointer;
  }
}
