.nav {
  display: flex;
  border: 1px solid;
  .navPhoto {
    .brandPhoto {
      width: 100px;
    }
  }
  .navList {
    .brandStory {
      margin-right: 20px;
      font-size: 20px;
    }
  }
  .navList {
    display: flex;
    .list {
      display: flex;
      align-items: center;
      justify-content: center;
      .event {
        font-size: 20px;
        padding-right: 20px;
      }
      .brand {
        font-size: 20px;
        padding-right: 20px;
      }
      .subScribe {
        font-size: 20px;
        padding-right: 20px;
      }
      .review {
        font-size: 20px;
        padding-right: 20px;
      }
      .customerCenter {
        font-size: 20px;
      }
    }
  }
}
