@import '../../styles/variable.scss';
.Dropdown {
  .otherList {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 20px;
    margin-right: 80px;

    .history {
      padding-right: 100px;
      font-size: 20px;
      font-family: $font-family;
      font-weight: bold;
      margin-left: 185px;
    }

    .cheifPick {
      margin-right: 100px;
      font-size: 20px;
      font-weight: bold;
      font-family: $font-family;
    }
    .location {
      margin-right: 100px;
      font-size: 20px;
      font-weight: bold;
      font-family: $font-family;
    }
    .magaZine {
      margin-right: 160px;
      font-size: 20px;
      font-weight: bold;
      font-family: $font-family;
    }
    .list.clicked {
      display: none;
    }
  }
}
