@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR:wght@200;300&display=swap');
@import '../../styles/variable.scss';

.nav {
  .navHeader {
    display: flex;

    .navPhoto {
      .brandPhoto {
        width: 300px;
        height: 100px;
      }
    }
    .navList {
      cursor: pointer;

      .list {
        display: flex;
        .brandStory {
          .story {
            padding-top: 40px;
            padding-right: 20px;
            font-size: 20px;
            font-weight: bold;
          }
        }
        .subScribe {
          font-size: 20px;
          padding-right: 20px;
          font-weight: bold;
          padding-top: 40px;
        }
        .event {
          font-size: 20px;
          padding-right: 20px;
          font-family: $font-family;
          padding-top: 40px;
        }

        .brand {
          font-size: 20px;
          padding-right: 20px;
          font-family: $font-family;
          padding-top: 40px;
        }

        .review {
          font-size: 20px;
          padding-right: 20px;
          font-family: $font-family;
          padding-top: 40px;
        }

        .customerCenter {
          font-size: 20px;
          font-family: $font-family;
          padding-top: 40px;
          list-style: none;
        }
      }
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .fas {
        margin: 10px;
      }
    }
  }
}
